@media (min-width: 1200px) {
    body { background-color: #ffffff }

}

@media (min-width: 1101px) and (max-width: 1199px) {
    /* #wrapper { background-color: blue } */

}

@media (min-width: 992px) and (max-width: 1100px) {
    /* #wrapper { background-color: blue } */
    .logo {
        padding-top: 3%;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* #wrapper { background-color: green } */
    .logo {
        padding-top: 4%;
        width: 100%;
    }

    .nav-links {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    /* #wrapper { background-color: yellow } */

    .home-heading {
        margin: 0 auto 0 auto;
        text-align: center;
        position: relative;
        height: 80vh;
        background: #000000;
        border-bottom: 1px #1F3D19 solid;
        width: 100%;
    }

    aside {
        display: none;
    }

    .content-part-width {
        margin-left:none;
        width: 81.75% !important;
        clear:both
    }

    .logo {
        padding-top: 5%;
        width: 100%;
    }

    .nav {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (min-width: 496px) and (max-width: 576px) {
    /* #wrapper { background-color: brown } */

    .home-heading {
        margin: 0 auto 0 auto;
        text-align: center;
        position: relative;
        height: 80vh;
        background: #000000;
        border-bottom: 1px #1F3D19 solid;
        width: 100%;
    }

    aside {
        display: none;
    }

    .content-part-width {
        margin-left:none;
        width: 81.75% !important;
        clear:both
    }

    .logo {
        padding-top: 6%;
        width: 100%;
    }

    .nav {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }


}

@media (min-width: 395px) and (max-width: 495px) {
    /* #wrapper { background-color: purple } */

    .home-heading {
        margin: 0 auto 0 auto;
        text-align: center;
        position: relative;
        height: 60vh;
        background: #000000;
        border-bottom: 1px #1F3D19 solid;
        width: 100%;
    }

    .header a {
        float: none;
        display: block;
        text-align: left;
      }
      
      .nav-links {
        float: none;
      }

      aside {
        display: none;
    }

    .content-part-width {
        margin-left:none;
        width: 81.75% !important;
        clear:both
    }

    .logo {
        padding-top: 7%;
        width: 100%;
    }

    .nav {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .home-heading h1 {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Open Sans', Tahoma, Sans-serif;
        color: #ffffff;
        width: 100%;
        font-size: 600%;
        font-weight: 600;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    }

    .heading h1 {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Open Sans', Tahoma, Sans-serif;
        color: #ffffff;
        width: 100%;
        font-size: 600%;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        font-weight: 600;
    }

}

@media (min-width: 295px) and  (max-width: 394px) {
    /* #wrapper { background-color: red } */

    .home-heading {
        margin: 0 auto 0 auto;
        text-align: center;
        position: relative;
        height: 80vh;
        background: #000000;
        border-bottom: 1px #1F3D19 solid;
        width: 100%;
    }

    .header a {
        float: none;
        display: block;
        text-align: left;
      }
      
      .nav-links {
        float: none;
      }

    aside {
        display: none;
    }

    .content-part-width {
        margin-left:none;
        width: 81.75% !important;
        clear:both
    }

    .logo {
        padding-top: 8%;
        width: 100%;
    }

    .nav {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }



}

@media (max-width: 294px) {
    /* #wrapper { background-color: orange } */

    .home-heading {
        margin: 0 auto 0 auto;
        text-align: center;
        position: relative;
        height: 80vh;
        background: #000000;
        border-bottom: 1px #1F3D19 solid;
        width: 100%;
    }

    .header a {
        float: none;
        display: block;
        text-align: left;
      }
      
      .nav-links {
        float: none;
      }

    aside {
        display: none;
    }

    .content-part-width {
        margin-left:none;
        width: 81.75% !important;
        clear:both
    }

    .logo {
        padding-top: 8%;
        width: 100%;
    }

    .nav {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }




}