@media (min-width: 1200px) {
    body { background-color: #ffffff }

}

@media (min-width: 992px) and (max-width: 1199px) {
    #wrapper { background-color: blue }
}

@media (min-width: 768px) and (max-width: 991px) {
    #wrapper { background-color: green }

}

@media (min-width: 576px) and (max-width: 767px) {
    #wrapper { background-color: yellow }

    .home-heading {
        margin: 0 auto 0 auto;
        text-align: center;
        position: relative;
        height: 80vh;
        background: #000000;
        border-bottom: 1px #1F3D19 solid;
        width: 100%;
    }

    aside {
        display: none;
    }

    .content-part-width {
        margin-left:none;
        width: 81.75% !important;
        clear:both
    }

}

@media (min-width: 496px) and (max-width: 576px) {
    #wrapper { background-color: brown }

    .home-heading {
        margin: 0 auto 0 auto;
        text-align: center;
        position: relative;
        height: 80vh;
        background: #000000;
        border-bottom: 1px #1F3D19 solid;
        width: 100%;
    }

    aside {
        display: none;
    }

    .content-part-width {
        margin-left:none;
        width: 81.75% !important;
        clear:both
    }

}

@media (min-width: 395px) and (max-width: 495px) {
    .home-heading {
        margin: 0 auto 0 auto;
        text-align: center;
        position: relative;
        height: 60vh;
        background: #000000;
        border-bottom: 1px #1F3D19 solid;
        width: 100%;
    }

    .header a {
        float: none;
        display: block;
        text-align: left;
      }
      
      .nav-links {
        float: none;
      }

      aside {
        display: none;
    }

    .content-part-width {
        margin-left:none;
        width: 81.75% !important;
        clear:both
    }

    #wrapper { background-color: purple }
}

@media (min-width: 295px) and  (max-width: 394px) {
    #wrapper { background-color: red }

    .home-heading {
        margin: 0 auto 0 auto;
        text-align: center;
        position: relative;
        height: 80vh;
        background: #000000;
        border-bottom: 1px #1F3D19 solid;
        width: 100%;
    }

    .header a {
        float: none;
        display: block;
        text-align: left;
      }
      
      .nav-links {
        float: none;
      }

    aside {
        display: none;
    }

    .content-part-width {
        margin-left:none;
        width: 81.75% !important;
        clear:both
    }

}

@media (max-width: 294px) {
    #wrapper { background-color: orange }

    .home-heading {
        margin: 0 auto 0 auto;
        text-align: center;
        position: relative;
        height: 80vh;
        background: #000000;
        border-bottom: 1px #1F3D19 solid;
        width: 100%;
    }

    .header a {
        float: none;
        display: block;
        text-align: left;
      }
      
      .nav-links {
        float: none;
      }

    aside {
        display: none;
    }

    .content-part-width {
        margin-left:none;
        width: 81.75% !important;
        clear:both
    }

}