body {
    padding: none;
    margin: none;
}

#wrapper {
    background-color: #f6f7f0;
    max-width: 100%;
    overflow: hidden;
    padding: none;
    margin: none;
}

header {
    background-color: #1F3D19;
    border-bottom: 1px #1F3D19 solid;
    overflow: hidden;
    padding: 1% 9%;

}

header a {
    font-family: 'Open Sans', Tahoma, Sans-serif;
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 125%; 
    line-height: 25px;
    border-radius: 4px;
    font-weight: 600;
}

.logo {
    font-family: 'Carter One', Impact, Sans-serif;
    font-size: 325%;
    color: #ffffff;
    font-weight: 400;
}

.nav-links {
    float: right;
    line-height: 50px;
}

.nav-links a:hover {
    color: #53a016;
}
.active {
    color: #53a016 !important;
    text-decoration: underline;
}

.home-heading {
    margin: 0 auto 0 auto;
    text-align: center;
    position: relative;
    height: 100vh;
    background: #000000;
    border-bottom: 1px #1F3D19 solid;
    width: 100%;
}

.home-heading img {
    opacity: 0.95;
    width: 100%;
    height: 100%
}

.home-heading h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Open Sans', Tahoma, Sans-serif;
    color: #ffffff;
    width: 100%;
    font-size: 700%;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.home-article .home-subheading {
    color: #1F3D19;
    font-size: 175%;
    font-weight: 600;
    font-family: 'Open Sans', Tahoma, Sans-serif;
    text-align: center;
}

.home-article .image-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.home-article img {
    margin: 2%;
    max-width: 31%;
    border: 1px #1F3D19 solid;
    border-radius: 4px;
}

.home-article h2{
    color: #1F3D19;
    text-align: center;
    font-size: 275%;
    font-weight: 700;
    margin-bottom: 2vh;
    font-family: 'Open Sans', Tahoma, Sans-serif;
}

.home-text {
    font-weight: 500;
    margin-top: 1vh;
    font-size: 125% !important;
    font-family: 'Montserrat', Georgia, Sans-serif;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    text-align: left;
}

.home-article p a{
    font-weight: 600;
}

.home-info{
    text-align: center;
    color: #1F3D19;
    font-size: 150%;
    font-weight: 600;
    margin-top:3vh;
    font-family: 'Open Sans', Tahoma, Sans-serif;
}

.heading {
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: center;
    position: relative;
    height: 30vh;
    background: #000000;
    border-bottom: 1px #1F3D19 solid;
}

.heading img {
    opacity: 0.95;
    width: 100%;
    height:100%
}

.heading h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Open Sans', Tahoma, Sans-serif;
    color: #ffffff;
    width: 100%;
    font-size: 700%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    font-weight: 600;
}

.content-full-width {
    margin-left: 10%;
    width: 81.75%;
}

.content-full-width article {
    background-color: #98C280;
    margin: 3vh 2% 2.5vh 0vw;
    padding: 3vh 3.5vw 3vh 3.5vw;
    overflow: auto;
    border: 1px #1F3D19 solid;
    border-radius: 4px;
}

.content-full-width p {
    font-family: 'Montserrat', Georgia, Sans-serif;
    font-size: 1.1em;
}

.content-full-width p:last-child {
    font-size: 1.1em;
    margin-bottom: 1vh;
}

aside {
    margin-left: 10%;
    width: 15%;
    max-width: 15%;
    float: left;
}

aside article {
    margin: 3vh 2% 2.5vh 0vw;
    background-color: #98C280;
    padding: 2vh 1.5vw 2vh 1.5vw;
    overflow: auto;
    border: 1px #1F3D19 solid;
    border-radius: 4px;
}

.side-search {
    padding: 2vh 1vw;
    overflow: hidden;
}

.side-search form {
    height: 4vh;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.side-search input {
    width: 100%;
    float: left;
    border: 1px #1F3D19 solid;
    border-radius: 4px;
    padding-left: 3%;
    flex: 1 1 auto;
}

.side-search button {
    margin-left: 3%;
    background: #53a016;
    color: #1F3D19;
    border: 1px #1F3D19 solid;
    border-radius: 4px;
}
.side-search button:hover {
    background: #1F3D19;
    color: #53a016;
    border: 1px #53a016 solid;
}

aside article h4 {
    color: #1F3D19;
    font-size: 175%;
    font-weight: 600;
    margin-bottom: 2vh;
    font-family: 'Open Sans', Tahoma, Sans-serif;
}

aside article div {
    width: 100%;
    margin-bottom: 2vh;
}

aside article div a {
    margin-bottom: 3vh;
    font-size: 100%;
    font-weight: 400;
    margin-bottom: 2vh;
    font-family: 'Montserrat', Georgia, Sans-serif;
}

.content-part-width {
    margin-right: 10%;
    float: right;
    width: 65%;
}

.content-part-width article {
    font-family: 'Montserrat', Georgia, Sans-serif;
    background-color: #98C280;
    margin: 3vh 0vw 2.5vh 2%;
    padding: 3.5vh 3.5vw 3.5vh 3.5vw;
    overflow: auto;
    border: 1px #1F3D19 solid;
    border-radius: 4px;
}

.content-part-width article h2 {
    color: #1F3D19;
    text-align: center;
    font-size: 300%;
    font-weight: 800;
    margin-bottom: 1.5vh;
    padding-bottom: 1.5vh;
    font-family: 'Open Sans', Tahoma, Sans-serif;
}

.subheading {
    color: #1F3D19;
    font-size: 150% !important;
    font-weight: 600 !important;
    margin-bottom: 3vh;
    font-family: 'Open Sans', Tahoma, Sans-serif;
    text-align: center;
}

.content-part-width .full-image {
    margin-bottom: 3vh;
    max-width: 100%;
    height: auto;
    border: 1px #1F3D19 solid;
    border-radius: 4px;
}

.left-image {
    margin-right: 1.5vw;
    margin-bottom: 2vh;
    max-width: 50%;
    height: auto;
    float: left;
    border: 1px #1F3D19 solid;
    border-radius: 4px;
}

.right-image {
    margin-left: 1.5vw;
    margin-bottom: 2vh;
    max-width: 50%;
    height: auto;
    float: right;
    border: 1px #1F3D19 solid;
    border-radius: 4px;
}

.content-part-width .video {
    margin-right: 1.5vw;
    margin-bottom: 3vh;
    width: 100%;
    height: 50vh;
    border: 1px #1F3D19 solid;
    border-radius: 4px;
}

.content-part-width p {
    line-height: 140%;
    font-size: 1.1em;
    font-family: 'Montserrat', Georgia, Sans-serif;
    margin-bottom: 3vh;
}

.content-part-width p:last-child {
    margin-bottom: 1vh;
}

.content-part-width ul {
    margin-bottom: 3vh;
    list-style-position: inside;
}

.content-part-width ol {
    line-height: 140%;
    margin-bottom: 3vh;
    list-style-position: inside;
}

.content-part-width li {
    line-height: 140%;
    font-size: 110%;
    font-family: 'Montserrat', Georgia, Sans-serif;
    margin-bottom: 2.5vh;
}
.content-part-width li:last-child {
    font-size: 110%;
    font-family: 'Montserrat', Georgia, Sans-serif;
    margin-bottom: 1vh;
}


.content-part-width a {
    font-family: 'Montserrat', Helvetica, Sans-serif;
}

.table {
    background-color: #f6f7f0;
    border: 1px #1F3D19 solid;
    border-radius: 4px;
    padding: 3%;
}

.table table{
    border-collapse: collapse;
}

.table td {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 4px; 
    line-height: 150%;
}
.table td:first-child {
    width: 30%;
    padding-right: 5%;
    color: #1F3D19;
    font-weight: 600;
    border-radius: 4px;  
}

.recipe .subheading {
    color: #1F3D19;
    font-size: 125%;
    font-weight: 600;
    margin-bottom: 3vh;
    font-family: 'Open Sans', Tahoma, Sans-serif;
    text-align: center;
}

.recipe .image-wrapper {
    text-align: center;
    overflow: auto;
    margin-bottom: 4vh;
}

.recipe img {
    max-width: 99%;
    border: 1px #1F3D19 solid;
    border-radius: 4px;
}

.recipe .ingredients {
    margin-left: 3vw;
    float:left;
    width: 40%;
    margin-bottom: 2vh;
}

.recipe .method {
    margin-right: 3vw;
    float: right;
    width: 40%;
    margin-bottom: 4vh;
}

.article-info{
    text-align: center;
    color: #1F3D19;
    font-size: 125%;
    font-weight: 600;
    clear:both;
    margin-bottom:3vh;
    font-family: 'Open Sans', Tahoma, Sans-serif;
}

.form {
    text-align: center;
}

.form label{
    float: left;
    color: #1F3D19;
    font-size: 125%;
    font-weight: 600;
    margin-bottom: 0.5vh;
    font-family: 'Open Sans', Tahoma, Sans-serif;
}

.form input {
    width: 100%;
    padding: 0.75% 1% 0.75% 1%;
    border: 1px solid #1F3D19;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-family: 'Montserrat', Georgia, Sans-serif;
    font-size: 125%;
}

.form textarea {
    width: 100%;
    padding: 0.75% 1% 0.75% 1%;
    border: 1px solid #1F3D19;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 3vh;
    font-family: 'Montserrat', Georgia, Sans-serif;
    font-size: 125%;
}

.form button {
    text-align: center;
    font-family: 'Open Sans', Tahoma, Sans-serif;
    background: #53a016;
    color: #1F3D19;
    border: 1px #1F3D19 solid;
    padding: 1vh 2% 1vh 2%;
    font-size: 125%;
    font-weight: 600;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;}
.form button:hover{
    color: #53a016;
    background: #1F3D19;
    border: 1px #53a016 solid;
}
/* #submit-button:active{
    color: #53a016;
    background: #1F3D19;
    border: 1px #53a016 solid;
} */

#contact-form p {
    font-weight: 500;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    font-size: 125% !important;
    font-family: 'Montserrat', Georgia, Sans-serif;
    width: 100%;
    line-height: 150%;
    text-align: left;
}
#subscription-form p {
    font-weight: 500;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    font-size: 125% !important;
    font-family: 'Montserrat', Georgia, Sans-serif;
    width: 100%;
    line-height: 150%;
    text-align: left;
}

footer {
    clear: both;
    max-width: 100%;
    background-color: #1F3D19;
}

.footer-nav {
    padding: 0 15% 0 15%;
    margin: none;
}

.footer-nav div {
    padding: 5vh 0 5vh 0;
    float: left;
    width: 33%;
}

.footer-nav div a {
    font-family: 'Open Sans', Tahoma, Sans-serif;
    text-decoration: none;
    padding: 0 0 2vh 0;
    text-align: center;
    display: block;
    color: #ffffff;
    font-size: 125%;
    font-weight: 600;
}
.footer-nav div a:hover {
    color: #53a016;
}
.footer-nav div .active {
    color: #53a016;
    text-decoration: underline;
}
.footer-nav div a:last-child{
    padding: 0;
}

footer p{
    font-family: 'Montserrat', Georgia, Sans-serif;
    margin: 0 auto 0 auto;
    padding: 1.25% 0 1.25% 0;
    clear: both;
    max-width: 80%;
    text-align: center;
    border-top: 1px solid #ffffff;
    color: #ffffff;
    font-size: 90%;
}
